.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav{
    height: calc(var(--header-height)+1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav a{
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    padding: 6px 10px;
    transition: .5s;
}

.nav a:hover .list{
    color: rgb(85, 223, 64);
    animation:  animate 1.5s linear infinite;
}

@keyframes animate{
    0%{
        filter: hue-rotate(0);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.nav a span{
    z-index: -1;
    border-bottom: 2px solid rgb(41, 220, 83);
    border-radius: 10px;
    transform: scale(0.9) translateY(5px);
    transition: 0.2s;
}

.nav a:hover span{
    transform: scale(1.2) translateY(0);
}

.nav a .logo{
    border-bottom: none;
    font-size: 1.5rem;
    /* letter-spacing: 0.2rem; */
    animation: none;
}

.nav_logo,.nav_toggle{
    margin-top: 15px;
    font-size: 1.8rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav .special{
    background: linear-gradient(rgba(76, 84, 124, 0.5),rgba(216, 200, 200, 0.82));
    padding: 5px;
    color: color-mix(in hsl 120, color 100%, color 80%) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: solid;
}

.nav_list{
    display: flex;
    column-gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: var(--nrml-fsz);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s ease-in-out;
}

.nav_icon,.nav_close,.nav_toggle{
    display: none;
}

/*Active Link*/
.active-link,.nav_link:hover{
    font-size: 1.1rem;
    color: var(--title-color-dark);
}

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
}

.show-header{
    display: none;
}

/*Responsiveness*/
@media screen and (max-width: 768px) {
    .nav{
        grid-template-columns: repeat(3,1fr);
    }
    .header{
        top: initial;
        bottom: 0;
    }
    .nav{
        height: var(--header-height);
        /* margin: 0; */
    }
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
    .show-menu{
        bottom: 0;
    }
    .nav_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    .nav_close{
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }
    .nav_close:hover{
        color: var(--title-color-dark);
    }
    .nav_toggle{
        font-size: 1.1rem;
        cursor: pointer;
        /* margin-left: -100px; */
    }
    .nav_icon,.nav_close,.nav_toggle{
        display: block;
    }

}
@media screen and (max-width: 576px) {
    .nav_toggle{
        margin-right: 170px;
    }
    .nav_logo .special{
        background: none;
        padding-right: 140px;
    }
}
@media screen and (max-width: 350px) {
    .nav{
        margin: 0;
    }
    .nav_menu{
        padding: 2rem 0.25rem 4rem;
    }
    .nav_list{
        column-gap: 0;
    }
}